@CHARSET "ISO-8859-1";
/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #333;
      color:#FFFFFF;
      padding: 25px;
    }

  .aw-bg{
  	background-image: url("wallhaven-371266.png");
  	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .vid-bg{
  	background: linear-gradient(rgba(1,0,0,0.1), rgba(1,0,0,0.5));
  	height: 700px;
  }

  .text-red{
  	color: #e60000;
  }
  
   .text-white{
  	color: #FFFFFF;
  }
  .aw-bg{
  	background-image: url("wallhaven-371266.png");
  	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .thumb-image{
  	width:150px !important;
  	height:50px !important;
  }
  
  .text-size-40{
  	font-size: 40px;
  }
  
   h4{
  	color:#e60000;
  }
  
  label {
	color: #ff6666;
	font-weight: bold;
	display: block;
	font-size: 17px;
	float: left;}